@model Cotizador.Models.CotizacionDet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CotizacionDet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cotizacion.Cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cotizacion.Cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Linea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Linea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Componente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Componente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descuento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descuento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDCotizacionDet }) |
    @Html.ActionLink("Back to List", "Index")
</p>
